<div class="item">
    <div class="card-meet">
        <div class="img-meet-container">
            <img class="img-meet" src="./static-files/christmas_party-min.jpg" alt="" />
        </div>
    </div>
    <div class="card-meet-content">
        <div class="card-meet-title">
            <h2>{{ title }}</h2>
        </div>
    </div>
    <div class="card-meet-location-container">
        <h5 class="card-meet-location">{{town}}</h5>
    </div>
    <div class="card-meet-details">
        <h6 class="card-meet-date">{{date}}</h6>
        <h6 class="card-meet-time">{{time}}</h6>
    </div>
    <div class="card-meet-description">
        <p>{{ description }}</p>
    </div>
</div>